:root {
    --spaceCadetColor: #2C2A4A;
    --isabellineColor: #F2E9E4;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: var(--spaceCadetColor);
}

#title {
    font-family: 'Carter One', cursive;
    font-size: 5rem;

    text-align: center;

    color: var(--isabellineColor);
}

footer {
    color: var(--isabellineColor);
}

footer a {
    color: var(--isabellineColor);
}