:root {
    --spaceCadetColor: #2C2A4A;
    --isabellineColor: #F2E9E4;
    --bittersweetColor: #FF6B6B;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: var(--spaceCadetColor);
}

#title {
    font-family: 'Carter One', cursive;
    font-size: 5rem;

    text-align: center;

    color: var(--isabellineColor);
}

footer {
    color: var(--isabellineColor);
}

footer a {
    font-weight: 700;

    color: var(--isabellineColor);

    text-decoration: none;
    

    transition: all 0.3s linear;
}

footer a:hover {
    color: var(--bittersweetColor);
}